@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Manrope-Regular.woff2') format('woff2'),
         url('/fonts/Manrope-Regular.woff') format('woff');
  }
  